{% extends 'web/basic.html'%}
 {%load static%}
{% block title %} Home {%endblock%}


{% block body %}
        <div class="content">
            <h2/> Hello World, <br>I 'am <span> AbdulHanan </span></h2>
            <p>  I am python expert . Now am working on Python , MachineLearning , Django python Web development framework.
            	and   flask
                
            </p>

        </div>
    <a href="/about"><button type="submit" class="btn btn-danger">learn more</button></a>
{%endblock%}


